<div class="row">
    <form class="col s12" (submit)="adicionarTarefa()">
        <h5>Nova Terefa</h5>
        <div class="input-field col s12">
            <input placeholder="Titulo" type="text" [(ngModel)]="tarefa.titulo" name="titulo"/>
            <br/>
            <input placeholder="Descrição" type="text" [(ngModel)]="tarefa.descricao" name="descricao"/>
            <br/>
            <button class="btn waves-effect waves-light" type="submit">Salvar</button>
        </div>
    </form>
</div>